<div class="bg-success p-2 text-dark bg-opacity-25">
    <ul class="nav d-flex justify-content-center ml-2">
        <li class="nav-item bg-secondary mt-1" >
          <a class="nav-link active text-white bg-secondary btn btn-sm" aria-current="page" (click)="getAllTodos()">
            <i class="fas fa-list"></i>
            All tasks
            </a>
        </li>
        <li class="nav-item bg-secondary mt-1" >
          <a class="nav-link text-white btn btn-sm" (click)="incompletedTodos()" >
            
            <i class="fas fa-times"></i>
            To do</a>
        </li>
        <li class="nav-item bg-secondary mt-1" >
          <a class="nav-link text-white btn btn-sm" (click)="completedTodos()">
            <i class="fas fa-check"></i>  
            Completed
        </a>
        </li>
      </ul>
  </div>
  


<div class="container">
    <div class="row g-1 align-items-center d-flex justify-content-center pt-1">
        <div class="col-6">
            <input class="form-control btn-sm" #todoTitle type="text"  placeholder="Add or Edit your note..." aria-label="Search" [(ngModel)]="title">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success btn-sm" (click)="addTodo(todoTitle)"> 
                <i class="fas fa-plus-square"></i>
                Add Note
            </button>
        </div>
    </div>

</div>


<div class="container">

    <div *ngIf="todos.length == 0" class="mt-4">
        
        <p class="alert alert-danger">No tasks found, please add One!</p>

    </div>

    <table class="table table-striped mt-4" *ngIf="todos.length != 0">
        <tbody>
          <tr *ngFor="let todo of todos; index as i">
            <td class="d-flex">
                <div class="form-check">
                    <input #completed class="form-check-input" type="checkbox" value="" id="checkbox" [(ngModel)]="todo.completed"  [checked]="todo.completed">
                    <label class="form-check-label" for="checkbox">
                      {{todo.title}}
                    </label>
                  </div>


                <div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-success btn-sm" routerLink="/edit/{{i}}">
                        <i class="fas fa-edit"></i>
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteTodo(i)">
                        <i class="far fa-trash-alt"></i>
                        Delete
                    </button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>
